
* {
    box-sizing: border-box;
}
html , body{
    margin:0;
    padding: 0;
}
header{
    background-color:#0A0A0A;
    padding: 5px ;
}
.main-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: 0;

}
.logo img{
    width:150px;
    margin-left: 80px;


}
.search-form{

    width:calc(50% - 180px);
    max-width: 500px;

}
.search-form > *{
    vertical-align:middle;
}
.search-form label span{
    display:none;
}
.search-form label input{
    height:40px;
    border:none;
    border-radius:26px 0 0 25px;
    width:calc(100% - 100px);
    font-size: 16px;
    padding-left: 30px;


}
.search-form label input::placeholder{
    font-style:italic;
}
.search-form label input:focus{
    outline:none;
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}
.search-form button{
    background-color: #49639d;
    height:40px;
    border:none;
    width:60px;
    cursor: pointer;
    transition:background-color ease 0.5s;
}
.search-form button:hover{
    background-color: #298c9d;

}
.search-form button img{
    height: 20px;


}
.search-form button {
    border-radius:0 25px 25px 0 ;

}
.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav{
    padding-bottom: 10px;
    background: #3C948B;
    height: 50px;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding:10px;


}

a:link {
    text-decoration: none;
}

.dropdown{
    display:none;
    position:absolute;
}

.dropdown-nav:hover{
    transition:background-color ease 1s;
    background-color: #0A0A0A;
}
.main-nav:hover{
    transition:background-color ease 1s;
    background-color: #0A0A0A;
}
.main-nav {
    display:inline-block;
    font-size:20px
}
.main-nav a{
    padding:10px 15px;
    color:white;
}
.main-nav:hover .dropdown{

    display: block ;
    position: absolute;
    background:lightgray;
    line-height: 1.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;

}

.right-dropdown{
    display: none;
    position:absolute;
}
.dropdown-nav-right:hover{
    transition:background-color ease 1s;
    background-color: #0A0A0A;
}
.dropdown-nav-right:hover .right-dropdown{
    display: flex ;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background:lightgray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    left: 100%;
    top: 0;
}



